.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://images.contentstack.io/v3/assets/bltcedd8dbd5891265b/blt4a4af7e6facea579/6668df6ceca9a600983250ac/beautiful-flowers-hero.jpg?q=70&width=1080&auto=webp');
  background-size: cover;
}
